MONGODB_URI=mongodb://localhost:27017/crowdfund
PORT=4000
JWT_SECRET=your_strong_jwt_secret_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
OTP_SECRET=your_strong_otp_secret_here
MAIL_FROM="CrowdKart" <no-reply@crowdkart.local>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
